body{
    background-color: LightGray;
  }
  /*This is the div to center the box*/
  #container{
    display: flex;
    flex: 1 1 100vh;
    justify-content: center;
    align-content: center;
  }
  /*This is the box div*/
  #LoginBox{
    background-color: white;
    border-radius: 20%;
    box-shadow: 15px 15px 10px 15px rgba(10, 50, 0, 0.2);
    position: absolute;
    border: 2px solid rgba(238, 130, 238, 0.2);  
    /*This margin moves the box up and down*/  
    margin: 35vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; 
    }
  
  /*This selects the user and pass fields, input not div*/
  .input{
    border-style: hidden;
    font-family: Arial;
    font-size: 15px;
    border-bottom-style: solid;
    color: rgba(0, 0, 0, 0.4);
  }
  /*This selects the div for the user and pass inputs*/
  .box-item{
    flex: 1 1 1vh;
    margin: 1vh;
  }
  /*This is the word sign in at the top*/
  #sign-in{
    order: -1;
    font-size: 20px;
    font-family: Arial;
    /*This padding adds a space above the "sign in" words*/
    padding-top: 2vh;
  }
  #submit{
    order: 1;
    padding: 2vh;
  }
  /*This is the submit button*/
  #logging-in{  
    box-shadow: 5px 3px 10px 2px rgba(10, 10, 50, 0.3);
    border-radius: 15px;
    padding-left: 6vh;
    padding-right: 6vh;
    border-style: hidden;
    background-color: CornflowerBlue;
    color: rgb(255, 255, 255);
       }
  